
#cashwrapper {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 120px 1050px 1fr;
    grid-template-rows: 55px 550px 75px;
    overflow: hidden;
}

.divs {
    margin: 1px;

}

#cdiv1 {
  padding-top: 15px;
  padding-left: 10px;
}

#logout {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 7px 10px;
    border-color: rgb(212, 212, 212);
    border-width: 2px;
    border-radius: 15px;
    width: 90%;
    font-size: 13px;
}

#div2 {
  padding-left: 235px;
}

#cheader {
    font-size: 30px;
    margin: 10px;
    padding-right: 250px;
}

.menu {
  width: 250px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);

}

.menu button {
  background-color: rgb(248, 127, 127);
  font-size: 18px;
  font-weight: 800;
  display: block;
  padding: 5px 5px;
  margin: 10px 10px;
  text-decoration: none;
  border-left: 3px solid rgb(86, 86, 86);
  border-top: 3px solid rgb(86, 86, 86);
  border-bottom: white;
  border-right: white;
  border-radius: 5px;
  color: white;
  width: 150px;
  height: 90px;

}

.cstmwindow {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
  
.customize {
  background-color: rgb(248, 127, 127);
  padding: 5px 20px;
  border-radius: 8px;
  width: 400px;
  height: 475px;
  text-align: center;
}

  
  .order {
    align-items: center;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 10px;
    margin: 40px;
    border: none;
    border-radius: 5px;
  }

   
  .customButtons {
    display: inline-flex;
    position: relative;
  }

  .customButtons button {
    color: black;
    border: 0;
    border-bottom: 1px solid black;
    outline: none;
    position: relative;
    top: 0;
    padding: 15px 45px;
    margin: 0px 0px 0px 0px;
    z-index: 10;
    transition: top 50ms linear;
  }

  .customButtons button.selected {
    top: 6px;
  }
  .customButtons button.selected:before {
    bottom: 0px;
  }     

    
  .customButtons button:first-child {
    border-radius: 5px 0 0 5px;
  }
  .customButtons button:last-child{
    border-radius: 0 5px 5px 0;
  }
  
.customButtons button:before {
  content: '';
  display: block;
  position: absolute;
  top: 0px;
  left: 1px;
  right: 1px;
  bottom: -6px;
  z-index: 5;
  box-shadow: 0 0 0 1px black;
}
      
.customButtons button:first-child:before {
    border-radius: 5px 0 0 5px;
  }
  .customButtons button:last-child:before {
    border-radius: 0 5px 5px 0;
  }
  
  #checkoutButton {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 10px 10px;
    border-color: rgb(212, 212, 212);
    border-style: ridge;
    border: 2px solid black;
    width: 100%;
    height: 100%;
  }

  .order-list {
    padding: 10px;
    height: 100%;
    overflow-y: auto;
    border-left: 2px solid black;
    border-top: 2px solid black;

  }
  
  .order-item {
    background-color: #f9f9f9;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 15px;
    text-align: left;
  }
  
  .order-header {
    display: flex;
    justify-content: space-between;
    font-size: 17px;

  }
  
  .order-header button {
    background: none;
    border: none;
    color: red;
    cursor: pointer;
  }
  
  .order-details {
    font-size: 15px;
    color: #666;
    padding: 10px;
  }

  #checkwrapper {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 75% 25%;
  }
  
  .checkout-wrapper {
    width: 100%;
    height: 100vh;
    text-align: center;
    border: none;
    box-sizing: border-box;
  }

  .checkout-order {
    height: calc(100vh - 50px); 
    margin-inline: 75px;
    margin-top: 25px;
    padding: 20px 40px;
    border-radius: 15px;
    background: rgb(109, 151, 218);
    box-sizing: border-box;
    overflow: hidden;
  }

  .scrollorder {
    height: 80%; 
    overflow-y: scroll;
    padding-right: 5px; 
    box-sizing: border-box;
  }

  #OrderTotal {
    font-size: 28px;
    font-weight: 450;
    margin-bottom: 20px;
  }
  
  #checkdiv1 {
    align-content: end;
  }

  #editOrder {
    margin-bottom: 20px;
    width: 100px;
    height: 25px;
    border-radius: 10px;
  }

  #checkdiv2 {
    border: none;
    background-color: rgb(238, 238, 238);
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
  }

  #customerName {
    width: 80%;
    height: 20px;
    margin-top: 10px;
    margin-bottom: 70px;
  }

  #placeOrder {
    height: 75px;
    width: 100%;
    background-color: rgb(255, 151, 172);
    font-size: 20px;
    font-weight: 600;
    border: none;
    margin-top: 30px;
  }

  .toggle-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: sans-serif;
    font-size: 18px;
    margin-bottom: 100px;
  }
  
  .toggle-wrapper span.active {
    font-weight: bold;
  }
  
  .switch {
    position: relative;
    display: inline-block;
    width: 80px;
    height: 36px;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    background-color: #ccc;
    border-radius: 36px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: 0.4s;
  }
  
  .slider::before {
    position: absolute;
    content: "";
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: white;
    left: 3px;
    bottom: 3px;
    transition: 0.2s;
  }
  
  input:checked + .slider::before {
    transform: translateX(44px);
  }